body {
  background-image: url("file:///C:/Users/sagim/OneDrive/Desktop/Web%20Development/Challenge/images/pattern-background-desktop.svg");
  background-size: contain;
  font-family: 'Red Hat Display', sans-serif;
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/* Main-Screen */
.card {
  background-color: white;
  border-radius: 15px;
  width: min-content;
  padding: 0 0 auto;
  height: 620px;
  margin: auto;
}

/* Image */
.card-header-image {
  border-radius: 10px 10px 0 0;
  height: 12rem;
  width: 25rem;
  margin: 0;
}

/* Order Summary */
.order-summary .order-summary-headline {
  margin: 10% auto 4%;
  font-weight: 900;
}

.order-summary .order-summary-p {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  margin: auto 10% 7%;
}

/* Pricing */
.price {
  margin: 2% 10% 6%;
  padding: 5%;
  border-radius: 10px;
  background-color: hsl(225, 100%, 98%);
  text-align: left;
}

.price-headline {
  font-weight: bold;
  margin-bottom: 0;
  display: inline;
}

.price-detail {
  color: hsl(224, 23%, 55%);
  margin-top: 10px;
  display: inline;
}

.icon-music {
  float: left;
  margin-right: 5%;
}

.change-button-div {
  float: right;
  position: relative;
  bottom: 10px;
}

.change-button {
  color: hsl(245, 75%, 52%);
  float: right;
  font-weight: bold;
}

/* Buttons */
.buttons {
  text-align: center;
  margin-top: 1%;
  font-weight: bold;
}

.primary-button {
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0 8px 6px -6px grey;
  text-decoration: none;
  border-radius: 9px;
  margin: auto 40px 10px;
  color: white;
  padding: 2%;
  display: block;
}

.secondary-button {
  background-color: white;
  text-decoration: none;
  border-radius: 9px;
  margin: 0 40px;
  color: hsl(224, 23%, 55%);
  padding: 2%;
  display: block;
}

.link {
  position: relative;
  font-size: 10px;
}

/* Hover */
.primary-button:hover {
  opacity: 0.6;
  color: white;
  transition: 1s;
}

.secondary-button:hover {
color: black;
transition: 1s;
}

.change-button:hover {
text-decoration: none;
}
